@charset "utf-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #111;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* 以上リセットCSS */

/******************
* problem
******************/
.problem {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 1vw;
}
.problem__title-inner {
    margin-bottom: 3.5vw;
}
.problem__sub-title {
    font-weight: bold;
    color: blue;
}
.problem__title {
    display: inline-block;
    font-size: clamp(1.438rem, 0.938rem + 1.04vw, 1.875rem);
    font-weight: bold;
    padding-left: 10px;
}

.problem__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.problem__item {
    width: calc((100% - 120px) / 4);
    padding-right: 40px;
}
.problem__item:last-of-type {
    padding-right: 0;
}
.problem__order {
    color: blue;
    font-size: clamp(2.188rem, 1.116rem + 2.23vw, 3.125rem);
}
.problem__item-text {
    font-weight: bold;
}
.problem__img-inner {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}
.problem__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width:767px) {
    .problem {
        padding-right: 15px;
        padding-left: 15px;
    }
    .problem__sub-title {
        font-size: 16px;
    }
    .problem__title {
        font-size: 25px;
    }
    .problem__list {
        margin-top: -30px;
    }
    .problem__item {
        width: calc((100% - 40px) / 2);
        padding-right: 40px;
        margin-top: 30px;
        aspect-ratio: 335 / 412;
    }
    .problem__item:nth-of-type(2n) {
        padding-right: 0;
    }
}
